{% load static %}
<html>
<head>
  <title>Nảy mầm</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
  <!-- End bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- fancybox -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
<body>
  <div class='loading' style="margin: auto; background-image: url('/static/background.png')">
    <div class='loading_center'>
      <img alt="naymam" src="{% static 'logo_hoa.svg' %}" />
    </div>
  </div>
  <div class="header" style='display: none;'>
    <div class="logo">
      <img alt="naymam" src="{% static 'logo.svg' %}" />
    </div>
    <div class="leaf">
      <img alt="leaf" src="{% static 'leaf.svg' %}" />
    </div>
    <div class='intro left-right'>
      a little project contributing</br>the green fields into our daily life,</br>and bringing a big inspiration to people.
    </div>
    <div class="leaf1">
      <img alt="leaf" src="{% static 'leaf1.svg' %}" />
    </div>
    <div class='sub-intro left-right'>
      một dự án nho nhỏ góp phần</br>thêm mảng xanh vào cuộc sống hằng ngày</br>và mang lại nguồn cảm hứng to to cho mọi người.
    </div>
    <div class="block-1" style="background-image: url('/static/texture.svg')">
      <div class="modal-container" style="display: flex;" class='intro-block'>
        <div class='introduction'>
          <div class='text impact-color'>The project includes around 100 works by 88 artists with media ranging from illustration, graphic design to graphic novel and sculpture. By sharing the experience via visual works, we hope to encourage the public to engage more in growing plants. The ultimate goal of Nảy Mầm is to simply tell a story about our plant experience and hope that people can feel the joy that comes with growing a plant.</div>
          <div class='text green-color'>Dự án có sự tham gia của 88 nghệ sĩ với các tác phẩm bao gồm nhiều hình thức chất liệu. Bằng việc chia sẻ về trải nghiệm của các nghệ sĩ thông qua các tác phẩm tham gia, dự án mong muốn có thể góp phần khuyến khích cộng đồng làm quen với việc trồng cây. Không đặt ra cho mình một mục đích to lớn, chúng tôi chỉ muốn chia sẻ việc trồng cây của bản thân và hy vọng mọi người có thể cảm nhận được niềm vui đến từ việc chăm sóc một cái cây.</div>
        </div>
        <div style="flex: 1; margin: auto">
          <div class='center'>
            <img class='circle' src="{% static 'naymam-circle.gif' %}" width='144' height='144' >
          </div>
        </div>
      </div>
    </div>
    <div class='block-content'>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link intro pill active" data-toggle="tab" href="#home">
            <img  class='full-leaf' alt='leaf' src="{% static 'full_leaf.svg' %}" width='48' height='34' />
            <span class='impact-color'>showcase</span></br>
            <span class='green-color'>các tác phẩm</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link intro pill" data-toggle="tab" href="#menuu1">
            <img class='full-leaf' alt='leaf' src="{% static 'full_leaf.svg' %}" width='48' height='34' />
            <span class='impact-color'>exhibition</span></br>
            <span class='green-color'>triễn lãm</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link intro pill" data-toggle="tab" href="#menuu2">
            <img class='full-leaf' alt='leaf' src="{% static 'full_leaf.svg' %}" width='48' height='34' />
            <span class='impact-color'>about us</span></br>
            <span class='green-color'>giới thiệu</span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
          <div id="home" class="container tab-pane active">
            <div class='row'>
              <div class='col-md-4 col-sm-6'>
                {% for item in pictures1 %}
                  <div class='picture'>
                    <img style="cursor: pointer;" data-fancybox data-src="#trueModal{{item.id}}" href="javascript:;" width="256" src="{{item.picture.url}}">
                    <div class='author'>{{item.picture.author}}</div>
                    <!-- MODAL -->
                    <div class="modal-container" style="display: none; margin-left: 7%; margin-right: 7%" id="trueModal{{item.id}}">
                      <div class='navigation'>
                        <div class='prev' onclick="prevShowCase('{{item.count}}', '{{item.id}}')" style="text-align: center; margin-bottom: 20px; top: 50%; z-index: 100; position: fixed; left: 20px;bottom: 0;">
                          <img width="40" src="{% static 'prev.svg' %}">
                          <div class='textt'style="color: #9A9E9C" >Previous</div>
                        </div>
                        <div onclick="nextShowCase('{{item.count}}', '{{item.id}}')" class='next' style="text-align: center; margin-bottom: 20px; top: 50%; z-index: 100; position: fixed; right: 20px;bottom: 0;">
                          <img width="40" src="{% static 'next.svg' %}">
                          <div class='textt' style="color: #9A9E9C">Next</div>
                        </div>
                        <button style="position: fixed; color: #F7F9F3; top: 0" type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
                      </div>
                      <div class='first-part'>
                        <div class='author-name'>{{item.showcase.author.name}}</div>
                        <div class='popup-showcase'>
                          <div class='authorr'>
                            <img class='avatar' src="{% static 'stay.svg' %}" width="56" height="56"/>
                              <div class='bio'>
                                <div class="impact-color textt des">{{item.showcase.author.description}}</div>
                                <div class="green-color textt des" style="margin-top: 8px">{{item.showcase.author.link}}</div>
                              </div>
                          </div>
                          <div class='showcase-intro textt'>{{item.showcase.description}}</div>
                        </div>
                      </div>
                      <div class='photos'>
                        {% for pic in item.showcase.pictures %}
                          <img width="100%" src="{{pic.url}}" style="margin-bottom: 20px;">
                        {% endfor %}
                      </div>
                    </div>
                    <!-- END MODAL -->
                  </div>
                {% endfor %}
              </div>
              <div class='col-md-4 col-sm-6'>
                {% for item in pictures2 %}
                <div class='picture'>
                    <img style="cursor: pointer;" data-fancybox data-src="#trueModal{{item.id}}" href="javascript:;" width="256" src="{{item.picture.url}}">
                    <div class='author'>{{item.picture.author}}</div>
                    <!-- MODAL -->
                    <div class="modal-container" style="display: none;margin-left: 7%; margin-right: 7%;" id="trueModal{{item.id}}">
                    <div class='navigation'>
                        <div clas='prev' onclick="prevShowCase('{{item.count}}', '{{item.id}}')" style="text-align: center; margin-bottom: 20px; top: 50%; z-index: 100; position: fixed; left: 20px;bottom: 0;">
                          <img width="40" src="{% static 'prev.svg' %}">
                          <div class='textt'style="color: #9A9E9C" >Previous</div>
                        </div>
                        <div onclick="nextShowCase('{{item.count}}', '{{item.id}}')" class='next' style="text-align: center; margin-bottom: 20px; top: 50%; z-index: 100; position: fixed; right: 20px;bottom: 0;">
                          <img width="40" src="{% static 'next.svg' %}">
                          <div class='textt' style="color: #9A9E9C">Next</div>
                        </div>
                        <button style="position: fixed; color: #F7F9F3; top: 0" type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
                      </div>
                      <div class='first-part'>
                        <div class='author-name'>{{item.showcase.author.name}}</div>
                        <div class='popup-showcase'>
                          <div class='authorr'>
                            <img class='avatar' src="{% static 'stay.svg' %}" width="56" height="56"/>
                              <div class='bio'>
                                <div class="impact-color textt des">{{item.showcase.author.description}}</div>
                                <div class="green-color textt des" style="margin-top: 8px">{{item.showcase.author.link}}</div>
                              </div>
                          </div>
                          <div class='showcase-intro textt'>{{item.showcase.description}}</div>
                        </div>
                      </div>
                      <div class='photos'>
                        {% for pic in item.showcase.pictures %}
                          <img width="100%" src="{{pic.url}}" style="margin-bottom: 20px;">
                        {% endfor %}
                      </div>
                    </div>
                    <!-- END MODAL -->
                  </div>
                {% endfor %}
              </div>
              <div class='col-md-4 col-sm-6'>
                {% for item in pictures3 %}
                <div class='picture'>
                    <img style="cursor: pointer;" data-fancybox data-src="#trueModal{{item.id}}" href="javascript:;" width="256" src="{{item.picture.url}}">
                    <div class='author'>{{item.picture.author}}</div>
                    <!-- MODAL -->
                    <div class="modal-container" style="display: none;margin-left: 7%; margin-right: 7%;" id="trueModal{{item.id}}">
                    <div class='navigation'>
                      <div clas='prev' onclick="prevShowCase('{{item.count}}', '{{item.id}}')" style="text-align: center; margin-bottom: 20px; top: 50%; z-index: 100; position: fixed; left: 20px;bottom: 0;">
                        <img width="40" src="{% static 'prev.svg' %}">
                        <div class='textt'style="color: #9A9E9C" >Previous</div>
                      </div>
                      <div onclick="nextShowCase('{{item.count}}', '{{item.id}}')" class='next' style="text-align: center; margin-bottom: 20px; top: 50%; z-index: 100; position: fixed; right: 20px;bottom: 0;">
                        <img width="40" src="{% static 'next.svg' %}">
                        <div class='textt' style="color: #9A9E9C">Next</div>
                      </div>
                      <button style="position: fixed; color: #F7F9F3; top: 0" type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
                    </div>
                      <div class='first-part'>
                        <div class='author-name'>{{item.showcase.author.name}}</div>
                        <div class='popup-showcase'>
                          <div class='authorr'>
                            <img class='avatar' src="{% static 'stay.svg' %}" width="56" height="56"/>
                              <div class='bio'>
                                <div class="impact-color textt des">{{item.showcase.author.description}}</div>
                                <div class="green-color textt des" style="margin-top: 8px">{{item.showcase.author.link}}</div>
                              </div>
                          </div>
                          <div class='showcase-intro textt'>{{item.showcase.description}}</div>
                        </div>
                      </div>
                      <div class='photos'>
                        {% for pic in item.showcase.pictures %}
                          <img width="100%" src="{{pic.url}}" style="margin-bottom: 20px;">
                        {% endfor %}
                      </div>
                    </div>
                    <!-- END MODAL -->
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div id="menuu1" class="container tab-pane fade"><br>
            <div class='title'>Nov 21 – Dec 1, 2019</div>
            <div class='content'>
              <div class='col1'>
                <div class='map-responsive'>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.395138260709!2d106.70496095033376!3d10.781017992280738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f05ed105d67%3A0x1122b5cc2ec54b4a!2sThe%20Hummingbird%20Cafe!5e0!3m2!1sen!2s!4v1572163709955!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class='col2'>
                <div class='info'>
                  <div class='location-time'>
                    <div class='time'>
                      <span class='label'>⏳ Thời gian triễn lãm:</span>
                      <span class='content marginLeft'>21/11/2019 – 1/12/2019</span>
                    </div>
                    <div class='location time'>
                      <span class='label'>📍 Địa điểm:</span>
                      <span class='content marginLeft'>The Hummingbird Cafe</span>
                      <span class='marginLeft' style="color: #9A9E9C">5H Ton Duc Thang St., Ben Nghe,</span>
                      <br/>
                      <span class='marginLeft' style="color: #9A9E9C">District 1, HCMC</span>
                    </div>
                  </div>
                  <div class='social-networkk marginLeft'>
                    <!-- <div class='messenger'>
                      <img src="{% static 'messenger.svg' %}" >
                      <div style='width: 100%;'>Share in Messenger</div>
                    </div> -->
                    <div class='fb'>
                      <img src="{% static 'fb.svg' %}" >
                      <div style="width: 100%;">Share in Facebook</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='content'>
              <div class='col1'>
                <div class='exhibition'>For the exhibition, all the works are sorted into 4 categories: Light, Soil, Air, and Water. These are four foundational elements that are crucial to the life of a plant. The works in each theme bare the same characteristics:</br>☀️️ Light: love, peace, and warmth</br>🌫️ Soil: life, reincarnation, and hope</br>💨 Air: imagination and utopia</br>💦 Water: Mystery, sorrow, and purity. All the plants that are grown by artists during the project will also be displayed alongside the artworks.</div>
              </div>
              <div class='col2'>
                <div class='exhibition_vie marginLeft'>Các tác phẩm tham gia dự án được chia theo 4 chủ đề lần lượt là: Ánh Sáng, Đất, Không Khí, và Nước. Đây cũng là 4 yếu tố quan trọng trong việc trồng cây. Các tác phẩm trong mỗi chủ đề sẽ chia sẻ những điểm tương đồng sau:</br>☀️️ Ánh Sáng: tình yêu, sự yên bình, và sự ấm áp.</br>🌫️ Đất: Sự sống, sự tái sinh, và hy vọng.</br>💨 Không Khí: trí tưởng tượng và utopia.</br>💦 Nước: sự bí ẩn, nỗi buồn, và tính thuần khiết. Điều đặc biệt là những cây được các thành viên chọn tham gia dự án sẽ được trưng bày cùng tác phẩm tròn triển lãm.</div>
              </div>
            </div>
          </div>
          <div id="menuu2" class="container tab-pane fade"><br>
            <div class='content'>
              <div class='col1'>
                <div class='exhibition'>Each artist who participates in the project, besides creating an artwork, will also commit to grow a plant. To many participants, this can be their first time experience. Each artist is committed to planting during the process of creating their work and the preparation of the project. This means that if his/her plant dies, he/she will replace it with another one. The point of this is to encourage participants not to give up on planting and to acknowledge that growing a plant is a learning-by-experience process.</div>
              </div>
              <div class='col2'>
                <div class='exhibition_vie marginLeft'>Các nghệ sĩ tham gia dự án, bên cạnh việc sáng tác, sẽ cam kết trồng ít nhất một cái cây. Đối với nhiều thành viên, đây có thể là cái cây đầu tiên mà họ trồng. Mỗi thành viên sẽ duy trì việc trồng cây trong suốt quá trình sáng tác và chuẩn bị cho dự án. Điều này có nghĩa trong thời gian chăm cây, nếu không may cây bị chết, họ sẽ bắt đầu lại từ đầu. Mục đích của việc này nhằm khuyến khích các thành viên không từ bỏ và hiểu được trồng và chăm sóc cây là một quá trình học hỏi và rút kinh nghiệm.</div>
              </div>
            </div>
            <div class='sponsor'>
              <div>
                <div>
                  <div class='staylab'>
                    <a href='https://www.tinsideout.xyz/' target="_blank">
                      <img class='circle' width='100' height='100' src="{% static 'Tinsideout.svg' %}" >
                    </a>
                  </div>
                  <div class='role text'>project leader</div>
                  <div style="text-align: center;">
                    <a class='name text' href='https://www.tinsideout.xyz/' target="_blank">Tinsideout</a>
                  </div>
                </div>
                <div style='margin-top: 50px'>
                  <div class='staylab'>
                    <a href='https://www.lixihatgiong.com/' target="_blank">
                      <img class='circle' width='100' height='100' src="{% static 'gieo.svg' %}" >
                    </a>
                  </div>
                  <div class='text role'>sponsor</div>
                  <div style="text-align: center;">
                    <a class='text name' href='https://www.lixihatgiong.com/' target="_blank">Gieo</a>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div class='staylab'>
                    <a href='https://www.datdotr.com/' target="_blank">
                      <img class='circle' width='100' height='100' src="{% static 'Datdotr.svg' %}" >
                    </a>
                  </div>
                  <div class='role text'>logo design</div>
                  <div style="text-align: center;">
                    <a class='name text' href='https://www.datdotr.com/' target="_blank">Datdotr</a>
                  </div>
                </div>
                <div style='margin-top: 50px'>
                  <div class='staylab'>
                    <a href='https://monosketch.vn/' target="_blank">
                      <img class='circle' width='100' height='100' src="{% static 'Monosketch.svg' %}" >
                    </a>
                  </div>
                  <div class='text role'>workshop vendor</div>
                  <div style="text-align: center;">
                    <a class='text name' href='https://monosketch.vn/' target="_blank">Monosketch</a>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div class='staylab'>
                    <a href='https://www.facebook.com/thehummingbirdcafesaigon/' target="_blank">
                      <img class='circle' width='100' height='100' src="{% static 'cafe.svg' %}" >
                    </a>
                  </div>
                  <div class='role text'>location vendor</div>
                  <div style="text-align: center;">
                    <a class='text name' href='https://www.facebook.com/thehummingbirdcafesaigon/' target="_blank">The Hummingbird Cafe</a>
                  </div>
                </div>
                <div style='margin-top: 50px'>
                  <div class='staylab'>
                    <a href='https://www.staylab.co' target="_blank">
                      <img class='circle' width='100' height='100' src="{% static 'stay.svg' %}" >
                    </a>
                  </div>
                  <div class='text role'>website vendor</div>
                  <div style="text-align: center;">
                    <a class='text name' href='https://www.staylab.co' target="_blank">Staylab</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- MOBILE -->
      <div class='mobile'>
        <a id='menuu0' class="nav-link intro pill" data-toggle="tab" href="#menu2" onclick="expand(0)">
          <img id='plus' class='full-leaf expand' alt='leaf' src="{% static 'expand.svg' %}" width='24' height='24' />
          <img class='full-leaf collapse' alt='leaf' src="{% static 'collapse.svg' %}" width='24' height='24' />
          <span class='impact-color'>about us</span></br>
          <span class='green-color'>giới thiệu</span>
        </a>
        <div id="menu0" class="container tab-pane"><br>
          <div class='sponsor'>
            <div>
              <a href='https://www.tinsideout.xyz/' target="_blank"><img class='circle' width='100' height='100' src="{% static 'Tinsideout.svg' %}" ></a>
              <div class='role textt texttt'>project leader</div>
              <div style="text-align: center;">
                <a class='name textt' href='https://www.tinsideout.xyz/' target="_blank">Tinsideout</a>
              </div>
            </div>
            <div>
              <a href='https://www.datdotr.com/' target="_blank"><img class='circle' width='100' height='100' src="{% static 'Datdotr.svg' %}" ></a>
              <div class='role textt texttt'>logo design</div>
              <div style="text-align: center;">
                <a href='https://www.datdotr.com/' target="_blank" class='name textt'>Datdotr</a>
              </div>
            </div>
          </div>
          <div class='sponsor'>
            <div>
              <a href='https://www.facebook.com/thehummingbirdcafesaigon/' target="_blank"><img class='circle' width='100' height='100' src="{% static 'cafe.svg' %}" ></a>
              <div class='role textt texttt'>location vendor</div>
              <div style="text-align: center;">
                <a class='textt name' href='https://www.facebook.com/thehummingbirdcafesaigon/' target="_blank">The Hummingbird</a>
              </div>
            </div>
            <div>
              <a href='https://www.lixihatgiong.com/' target="_blank"><img class='circle' width='100' height='100' src="{% static 'gieo.svg' %}" ></a>
              <div class='textt textt role'>sponsor</div>
              <div style="text-align: center;">
                <a class='textt name' href='https://www.lixihatgiong.com/' target="_blank">Gieo</a>
              </div>
            </div>
          </div>
          <!-- <div class="modal-container" style="display: flex; justify-content: space-evenly; margin-top: 50px;"> -->
          <div class='sponsor'>
            <div>
              <a href='https://monosketch.vn/' target="_blank"><img class='circle' width='100' height='100' src="{% static 'Monosketch.svg' %}" ></a>
              <div class='textt role texttt'>workshop vendor</div>
              <div style="text-align: center;">
                <a href='https://monosketch.vn/' target="_blank" class='textt name'>Monosketch</a>
              </div>
            </div>
            <div>
              <!-- <div class='staylab'> -->
                <!-- <img class='circle' src="{% static 'stay.svg' %}" > -->
              <!-- </div> -->
              <a href='https://www.staylab.co/' target="_blank"><img class='circle' width='100' height='100' src="{% static 'stay.svg' %}" ></a>
              <div class='textt texttt role'>website vendor</div>
              <div style="text-align: center;">
                <a href='https://www.staylab.co' target="_blank" class='textt name'>Staylab</a>
              </div>
            </div>
          </div>
        </div>
        <a id='menuu1'class="nav-link intro pill" data-toggle="tab" href="#menu1" onclick="expand(1)">
          <img id='plus' class='full-leaf expand' alt='leaf' src="{% static 'expand.svg' %}" width='24' height='24' />
          <img class='full-leaf collapse' alt='leaf' src="{% static 'collapse.svg' %}" width='24' height='24' />
          <span class='impact-color'>exhibition</span></br>
          <span class='green-color'>triễn lãm</span>
        </a>
        <div id="menu1" class="container">
          <div class='title'>Nov 21 – Dec 8, 2019</div>
          <div>
            <div class='col1'>
              <div class='map-responsive'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.395138260709!2d106.70496095033376!3d10.781017992280738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f05ed105d67%3A0x1122b5cc2ec54b4a!2sThe%20Hummingbird%20Cafe!5e0!3m2!1sen!2s!4v1572163709955!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class='col2'>
              <div class='info'>
                <div class='location-time'>
                  <div class='time'>
                    <span class='label'>⏳ Thời gian triễn lãm:</span>
                    <span class='content marginLeft'>21/11/2019 – 1/12/2019</span>
                  </div>
                  <div class='location time'>
                    <span class='label'>📍 Địa điểm:</span>
                    <span class='content marginLeft'>The Hummingbird Cafe</span>
                    <span class='marginLeft' style="color: #9A9E9C">5H Ton Duc Thang St., Ben Nghe,</span>
                    <br/>
                    <span class='marginLeft' style="color: #9A9E9C">District 1, HCMC</span>
                  </div>
                </div>
                <div class='social-networkk'>
                  <div class='fb'>
                    <img src="{% static 'fb.svg' %}" >
                    <div style="width: 100%;">Share in Facebook</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a id='menuu2' class="nav-link intro pill active" data-toggle="tab" href="#home" onclick="expand(2)">
          <img id='plusss' class='full-leaf expand' alt='leaf' src="{% static 'expand.svg' %}" width='24' height='24' />
          <img id='minus' class='full-leaf collapse' alt='leaf' src="{% static 'collapse.svg' %}" width='24' height='24' />
          <span class='impact-color'>showcase</span></br>
          <span class='green-color'>các tác phẩm</span>
        </a>
        <div id="menu2" class="container" style='display: block'>
          <div class='categories'>
          </div>
          <div class='row'>
            <div class='col-sm-4 col-6'>
              {% for item in pictures1_mobile %}
              <div class='picture'>
                <img style="cursor: pointer;" data-fancybox data-src="#trueModal{{item.id}}" href="javascript:;" width="152" src="{{item.picture.url}}">
                <div class='author'>{{item.picture.author}}</div>
                <!-- MODAL -->
                <div class='temp' style="display: none;" id="trueModal{{item.id}}">
                <div class='navigation'>
                  <button style="position: absolute; color: #3F9C67; top: 0; margin-top: 14px; margin-right: 14px;" type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.5 5.72205e-06L24 22.5L22.5 24L0 1.50001L1.5 5.72205e-06Z" fill="#3F9C67"/>
                      <path d="M24 1.5L1.5 24L0 22.5L22.5 0L24 1.5Z" fill="#3F9C67"/>
                    </svg>
                  </button>
                </div>
                <div class='first-part'>
                  <div class='author-name'>{{item.showcase.author.name}}</div>
                  <div class='popup-showcase'>
                    <div class='authorr'>
                      <img class='avatar' src="{% static 'stay.svg' %}" width="56" height="56"/>
                        <div class='bio'>
                          <div class="impact-color textt">{{item.showcase.author.description}}</div>
                          <div class="green-color textt" style="margin-top: 8px">{{item.showcase.author.link}}</div>
                        </div>
                    </div>
                    <div class='showcase-intro textt'>{{item.showcase.description}}</div>
                  </div>
                </div>
                <div class='photos'>
                  {% for pic in item.showcase.pictures %}
                    <img width="100%" src="{{pic.url}}" style="margin-bottom: 24px;">
                  {% endfor %}
                </div>
                <div class='nextprev'>
                  <div clas='prev' onclick="prevShowCase('{{item.count}}', '{{item.id}}')">
                    <img style="display: block; margin: auto" width="40" src="{% static 'prev.svg' %}">
                    <div class='textt'style="text-align: center; color: #9A9E9C; margin-top: 8px" >Previous</div>
                  </div>
                  <div onclick="nextShowCase('{{item.count}}', '{{item.id}}')" class='next'>
                    <img style="display: block; margin: auto" width="40" src="{% static 'next.svg' %}">
                    <div class='textt' style="text-align: center; color: #9A9E9C; margin-top: 8px">Next</div>
                  </div>
                </div>
              </div>
            <!-- END MODAL -->
            </div>
              {% endfor %}
            </div>
            <div class='col-sm-4 col-6'>
              {% for item in pictures2_mobile %}
              <div class='picture'>
                  <img style="cursor: pointer;" data-fancybox data-src="#trueModal{{item.id}}" href="javascript:;" width="152" src="{{item.picture.url}}">
                  <div class='author'>{{item.picture.author}}</div>
                  <!-- MODAL -->
                  <div class='temp' style="display: none;" id="trueModal{{item.id}}">
                  <div class='navigation'>
                    <button style="position: absolute; color: #3F9C67; top: 0; margin-top: 14px; margin-right: 14px;" type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 5.72205e-06L24 22.5L22.5 24L0 1.50001L1.5 5.72205e-06Z" fill="#3F9C67"/>
                        <path d="M24 1.5L1.5 24L0 22.5L22.5 0L24 1.5Z" fill="#3F9C67"/>
                      </svg>
                    </button>
                  </div>
                  <div class='first-part'>
                    <div class='author-name'>{{item.showcase.author.name}}</div>
                    <div class='popup-showcase'>
                      <div class='authorr'>
                        <img class='avatar' src="{% static 'stay.svg' %}" width="56" height="56"/>
                          <div class='bio'>
                            <div class="impact-color textt">{{item.showcase.author.description}}</div>
                            <div class="green-color textt" style="margin-top: 8px">{{item.showcase.author.link}}</div>
                          </div>
                      </div>
                      <div class='showcase-intro textt'>{{item.showcase.description}}</div>
                    </div>
                  </div>
                  <div class='photos'>
                    {% for pic in item.showcase.pictures %}
                      <img width="100%" src="{{pic.url}}" style="margin-bottom: 24px;">
                    {% endfor %}
                  </div>
                  <div class='nextprev'>
                    <div clas='prev' onclick="prevShowCase('{{item.count}}', '{{item.id}}')">
                      <img width="40" style="display: block; margin: auto"  src="{% static 'prev.svg' %}">
                      <div class='textt'style="text-align: center; color: #9A9E9C; margin-top: 8px" >Previous</div>
                    </div>
                    <div onclick="nextShowCase('{{item.count}}', '{{item.id}}')" class='next'>
                      <img width="40" style="display: block; margin: auto" src="{% static 'next.svg' %}">
                      <div class='textt' style="text-align: center; color: #9A9E9C; margin-top: 8px">Next</div>
                    </div>
                  </div>
                </div>
              <!-- END MODAL -->
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- END MOBILE -->
  </div>
  </div>
</body>
</html>
<script>
  $(document).ready(
    function(){
    }
  )
  if (window.screen.availWidth <= 480) {
    var element = document.getElementsByClassName('tab-content')[0];
    element.parentNode.removeChild(element);
  }

  var minus = document.getElementById('minus');
  var plus = document.getElementById('plusss');
  minus.style.display = 'block';
  plus.style.display = 'none';

  var menuu2 = document.getElementById('menuu2');
  menuu2.classList.add('green-border-bottom');

  const url_string = window.location.href;
  var url = new URL(url_string);
  var c = url.searchParams.get("category");

  // var xx = document.getElementById(c);
  // if (xx == null) {
  //   var xx = document.getElementById('all');
  // } else {

  // }
  // xx.classList.add('selected');

  // Showcase modal
  const pos = url_string.indexOf('?albums=');
  if(pos != -1) {
    const albumId = url_string.substring(pos + '?albums='.length, url.length);
    $.fancybox.open({src: '#trueModal' + albumId});
  }
  // End showcase modal


  setTimeout(function(){
    var header = document.getElementsByClassName('header')[0];
    var element = document.getElementsByClassName('loading')[0];
    header.style.display = 'block';
    element.style.display = 'none';
  }, 100);

  currentShowCase = url_string.indexOf('?albums=');
  // var curr = url_string.substring(pos + '?albums='.length, url.length);
  function nextShowCase(a, cur) {
    $.fancybox.close();
    if (parseInt(cur) == parseInt(a)) {
      next = 1
    } else {
      var next = parseInt(cur) + 1;
    }
    // curr = next;
    $.fancybox.open({src: '#trueModal' + next});
  }

  function prevShowCase(a, cur) {
    $.fancybox.close();
    var next = parseInt(cur) - 1;
    if (next == 0) {
      next = parseInt(a)
    }
    // curr = next;
    $.fancybox.open({src: '#trueModal' + next});
  }

  function expand(n) {
    const ids = [0, 1, 2];
    // close others
    var i = 0;
    for (i = 0; i < ids.length; i++) {
      if (ids[i] !== n) {
        var x = document.getElementById('menu' + ids[i]);
        x.style.display = "none";
        var y = document.getElementById('menuu' + ids[i]);
        y.classList.remove('green-border-bottom');
      }
    }
    const elementId = 'menu' + n;

    var z = document.getElementById('menuu' + n);
    if (z.classList.contains('green-border-bottom')) {
      z.classList.remove('green-border-bottom');
    } else {
      z.classList.add('green-border-bottom');
    }

    var cc = document.getElementById(elementId);
    var vv = document.getElementsByClassName('expand')[n];
    var tt = document.getElementsByClassName('collapse')[n];

    for (i = 0; i < ids.length; i++) {
      if (ids[i] !== n) {
        document.getElementsByClassName('expand')[ids[i]].style.display = 'block';
        document.getElementsByClassName('collapse')[ids[i]].style.display = 'none';
      }
    }

    if (cc.style.display == 'block') {
      cc.style.display = "none";
      vv.style.display = "block";
      tt.style.display = "none";
    } else {
      cc.style.display = "block";
      vv.style.display = "none";
      tt.style.display = "block";
    }
  };
</script>
