{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header">
    <div class="logo">
      <img alt="naymam" src="{% static 'logo.png' %}" />
    </div>
    <div class="leaf">
      <img alt="leaf" src="{% static 'leaf.png' %}" />
    </div>
    <div class='intro'>
      a little project contributing</br>the green fields into our daily life,</br>and bringing a big inspiration to people.
    </div>
    <div class="leaf1">
      <img alt="leaf" src="{% static 'leaf1.png' %}" />
    </div>
    <div class='sub-intro'>
      một dự án nho nhỏ góp phần</br>thêm mảng xanh vào cuộc sống hằng ngày</br>và mang lại nguồn cảm hứng to to cho mọi người.
    </div>
    <div class="block-1" style="background-image: url('/static/texture.png')">
      <div style="display: flex;">
        <div style="flex: 1; display: flex; flex-direction: column; border-right: 1px solid #E6E9E7;">
          <div class='text impact-color'>When is it the best time to plant a tree? 20 years ago. Second best time, today! — Chinese proverb. Here are 2 simple ways you can plant trees and help reverse climate change without getting your hands dirty. Money can really help to have a social impact. If you find that you’re not making a large enough impact by simply using Ecosia, you can also donate to nonprofits to help plant trees.</div>
          <div class='text green-color'>When is it the best time to plant a tree? 20 years ago. Second best time, today! — Chinese proverb. Here are 2 simple ways you can plant trees and help reverse climate change without getting your hands dirty. Money can really help to have a social impact. If you find that you’re not making a large enough impact by simply using Ecosia, you can also donate to nonprofits to help plant trees.</div>
        </div>
        <div style="flex: 1">

        </div>
      </div>
    </div>
    <div class='block-content'>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link intro pill active" data-toggle="tab" href="#home">
            <img  class='full-leaf' alt='leaf' src="{% static 'full_leaf.png' %}" width='48' height='34' />
            showcase</br>các tác phẩm
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link intro pill" data-toggle="tab" href="#menu1">
            <img class='full-leaf' alt='leaf' src="{% static 'full_leaf.png' %}" width='48' height='34' />
            exhibition</br>triễn lãm
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link intro pill" data-toggle="tab" href="#menu2">
            <img class='full-leaf' alt='leaf' src="{% static 'full_leaf.png' %}" width='48' height='34' />
            about us</br>giới thiệu
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
            <div class='categories'>
              <a href="?category=all#home">
                <span class='eng'>🗂️All</span>
                 |
                <span class='vie'>Tất cả</span>
              </a>
              <a href="?category=soil#home">
                <span class='eng'>🌫️Soil</span>
                 |
                <span class='vie'>Đất</span>
              </a>
              <a href="?category=water#home">
                <span class='eng'>💦Water</span>
                  |
                <span class='vie'>Nước</span>
              </a>
              <a href="?category=air#home">
                <span class='eng'>💨Air</span>
                  |
                <span class='vie'>Không khí</span>
              </a>
              <a href="?category=light#home">
                <span class='eng'>☀️️Light</span>
                  |
                <span class='vie'>Ánh sáng</span>
              </a>
            </div>
            <div class='picture-container'>
              <div class='col1'>
                {% for picture in pictures1 %}
                  <div class='picture'>
                    <img width="256"alt={{picture.description}} src={{picture.url}} />
                    <div class='author'>{{picture.author}}</div>
                  </div>
                {% endfor %}
              </div>
              <div class='col2'>
                {% for picture in pictures2 %}
                  <div class='picture'>
                    <img width="256"alt={{picture.description}} src={{picture.url}} />
                    <div class='author'>{{picture.author}}</div>
                  </div>
                {% endfor %}
              </div>
              <div class='col3'>
                {% for picture in pictures3 %}
                  <div class='picture'>
                    <img width="256"alt={{picture.description}} src={{picture.url}} />
                    <div class='author'>{{picture.author}}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div id="menu1" class="container tab-pane fade"><br>
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="menu2" class="container tab-pane fade"><br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>

      <!-- <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link active intro" href="#">
            <span>showcase</span>
            </br>
            <span>các tác phẩm</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="intro" href="#">
            <span>exhibition</span>
            </br>
            <span>triễn lãm</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="intro" href="#">
            <span>about us</span>
            </br>
            <span>giới thiệu</span>
          </a>
        </li>
      </ul> -->
    </div>
  </div>
</body>
</html>