body {
  margin: 0;
}

.logo {
  margin-top: 32px;
  text-align: center;
}

.leaf {
  margin-left: 15%;
}

.leaf1 {
  position: absolute;
  right: 20%;
  top: 495px;
}

.intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #022B21;
  text-align: center;
  margin-top: 84px;
}

.sub-intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #3F9C67;
  text-align: center;
  margin-top: 40px;
}

.block-1 {
  height: 560px;
  width: 100%;
  background-color: #C4C4C4;
  opacity: 0.8;
  margin-top: 160px;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  margin: 50px 11% 0px 28%;
}

.green-color {
  color: #3F9C67;
}

.impact-color {
  color: #022B21;
}

.block-content {
  margin: 120px 200px 200px 200px;
}

.nav-tabs .nav-link.active {
  border-bottom-color: #3F9C67 !important;
}

.nav-link {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.author {
  margin-top: 24px;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #022B21
}

.picture {
  margin-bottom: 40px;
  padding-bottom: 24px;
}

.pill {
  margin-top: 0px !important;
  padding-bottom: 16px !important;
}

.nav-item {
  height: 115px;
}

/* .nav-item .active {
  padding-top: 0px !important;
} */

.nav-link {
  padding-top: 34px !important;
  padding-bottom: 16px !important;
}

.full-leaf {
  display: none;
  margin: auto
}

.active .full-leaf {
  display: block;
}

.nav-item .active {
  padding-top: 0px !important;
}

.picture-container {
  display: flex;
  justify-content: space-between;
}

.categories {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.categories > a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  padding: 11px 24px;
  background-color: #F7F9F3;
  border: 1px solid #3F9C67;
  box-sizing: border-box;
  border-radius: 24px;
  margin-right: 40px;
  cursor: pointer;
  text-decoration: none;

}

.categories > a:hover {
  text-decoration: none;
  font-weight: normal;
}

.categories > a > .eng {
  color: #3F9C67 !important;
}

.categories > a > .vie {
  color: #022B21 !important;
}

/* Tab 2 */
#menu1 .title {
  font-family: Courier;
  font-size: 36px;
  line-height: 32px;
  /* identical to box height, or 89% */
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
  margin-top: 48px;
  /* nay-mam/impact */
  color: #022B21;
}

.exhibition {
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #022B21;
  font-family: Montserrat;
  margin-top: 56px;
}

.exhibition_vie {
  margin-top: 56px;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #3F9C67;
  font-family: Montserrat;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content .col1 {
  margin-right: 100px;
  /* min-width: 480px; */
  flex: 1;
}

.content .col2 {
  flex: 1;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.time > span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  /* or 200% */
  letter-spacing: 0.08em;
}

.time > .content {
  color: #3F9C67;
}

.time > .label {
  color: #022B21;
}

.location {
  margin-top: 22px;
  margin-bottom: 24px;
}

.messenger {
  background: #0084FF;
  border-radius: 24px;
  padding: 12px;
  cursor: pointer;
}

.fb {
  padding: 12px;
  background: #4267B2;
  border-radius: 24px;
  cursor: pointer;
}

.social-network {
  display: flex;
}

.fb span, .messenger span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.fb {
  margin-left: 24px;
}

.marginLeft {
  margin-left: 22px;
}

.sponsor {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.role, .name {
  margin: 0;
  text-align: center
}

.role {
  margin-top: 16px;
  color: #022B21;
}

.name {
  color: #3F9C67
}

.circle {
  border-radius: 50%;
}

.staylab {
  border-radius: 50%;
  background-color: #022B21;
  width: 100px;
  height: 100px;
}