body {
  margin: 0;
}

.logo {
  margin-top: 32px;
  text-align: center;
}

.leaf {
  margin-left: 15%;
}

.leaf1 {
  position: absolute;
  right: 20%;
  top: 495px;
}

.intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #022B21;
  text-align: center;
  margin-top: 84px;
}

.sub-intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #3F9C67;
  text-align: center;
  margin-top: 40px;
}

.block-1 {
  height: 560px;
  width: 100%;
  background-color: #C4C4C4;
  opacity: 0.8;
  margin-top: 160px;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  margin: 50px 11% 0px 28%;
}

.green-color {
  color: #3F9C67;
}

.impact-color {
  color: #022B21;
}

.block-content {
  margin: 120px 200px 200px 200px;
}

.nav-tabs .nav-link.active {
  border-bottom-color: #3F9C67 !important;
}

.nav-link {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.author {
  margin-top: 24px;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #022B21
}

.picture {
  margin-bottom: 40px;
  padding-bottom: 24px;
}

.pill {
  margin-top: 0px !important;
  padding-bottom: 16px !important;
}

.nav-item {
  height: 115px;
}

/* .nav-item .active {
  padding-top: 0px !important;
} */

.nav-link {
  padding-top: 34px !important;
  padding-bottom: 16px !important;
}

.full-leaf {
  display: none;
  margin: auto
}

.active .full-leaf {
  display: block;
}

.nav-item .active {
  padding-top: 0px !important;
}

.picture-container {
  display: flex;
  justify-content: space-between;
}

.categories {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.categories > a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  padding: 11px 24px;
  background-color: #F7F9F3;
  border: 1px solid #3F9C67;
  box-sizing: border-box;
  border-radius: 24px;
  margin-right: 40px;
  cursor: pointer;
  text-decoration: none;

}

.categories > a:hover {
  text-decoration: none;
  font-weight: normal;
}

.categories > a > .eng {
  color: #3F9C67 !important;
}

.categories > a > .vie {
  color: #022B21 !important;
}