body {
  margin: 0;
}

.logo {
  margin-top: 32px;
  text-align: center;
}

.leaf {
  margin-left: 15%;
}

.leaf1 {
  position: absolute;
  right: 20%;
  top: 495px;
}

.intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #022B21;
  text-align: center;
  margin-top: 84px;
}

.sub-intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #3F9C67;
  text-align: center;
  margin-top: 40px;
}

.block-1 {
  height: fit-content;
  width: 100%;
  background-color: #C4C4C4;
  opacity: 0.8;
  margin-top: 160px;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  margin: 40px 11% 0px 28%;
}

.green-color {
  color: #3F9C67;
}

.impact-color {
  color: #022B21;
}

.block-content {
  margin: 120px 200px 200px 200px;
}

.nav-tabs .nav-link.active {
  border-bottom-color: #3F9C67 !important;
  border: 2px solid transparent
}

.nav-link {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.author {
  margin-top: 24px;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #022B21
}

.picture {
  margin-bottom: 40px;
  padding-bottom: 24px;
}

.pill {
  margin-top: 0px !important;
  padding-bottom: 16px !important;
}

.nav-item {
  height: 115px;
}

/* .nav-item .active {
  padding-top: 0px !important;
} */

.nav-link {
  padding-top: 34px !important;
  padding-bottom: 16px !important;
}

.full-leaf {
  display: none;
  margin: auto
}

.active .full-leaf {
  display: block;
}

.nav-item .active {
  padding-top: 0px !important;
}

.picture-container {
  display: flex;
  justify-content: space-between;
}

.categories {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
  margin-top: 48px;
}

.categories > a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  padding: 11px 24px;
  background-color: #F7F9F3;
  border: 1px solid #F7F9F3;
  box-sizing: border-box;
  border-radius: 24px;
  margin-right: 40px;
  cursor: pointer;
  text-decoration: none;

}

.selected {
  border: 1px solid #3F9C67 !important;
}

.categories > a:hover {
  text-decoration: none;
  font-weight: normal;
}

.categories > a > .eng {
  color: #3F9C67 !important;
}

.categories > a > .vie {
  color: #022B21 !important;
}

/* Tab 2 */
#menu1 .title {
  font-family: Courier;
  font-size: 36px;
  line-height: 32px;
  /* identical to box height, or 89% */
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
  margin-top: 48px;
  /* nay-mam/impact */
  color: #022B21;
}

.exhibition {
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #022B21;
  font-family: Montserrat;
  margin-top: 56px;
}

.exhibition_vie {
  margin-top: 56px;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #3F9C67;
  font-family: Montserrat;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content .col1 {
  margin-right: 100px;
  /* min-width: 480px; */
  flex: 1;
}

.content .col2 {
  flex: 1;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.time > span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
}

.time > .content {
  color: #3F9C67;
}

.time > .label {
  color: #022B21;
}

.location {
  margin-top: 22px;
  margin-bottom: 24px;
}

.messenger {
  background: #0084FF;
  border-radius: 24px;
  padding: 12px;
  cursor: pointer;
}

.fb {
  padding: 12px;
  background: #4267B2;
  border-radius: 24px;
  cursor: pointer;
}

.social-network {
  display: flex;
}

.fb span, .messenger span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.fb {
  margin-left: 24px;
}

.marginLeft {
  margin-left: 22px;
}

.sponsor {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.role, .name {
  margin: 0;
  text-align: center
}

.role {
  margin-top: 16px;
  color: #022B21;
}

.name {
  color: #3F9C67
}

.circle {
  border-radius: 50%;
}

.staylab {
  border-radius: 50%;
  background-color: #022B21;
  width: 100px;
  height: 100px;
}

.introduction {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #E6E9E7;
  padding: 20px 0px 70px 0px;
}

.center {
  text-align: center;
}

@media only screen and (min-width: 481px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .intro-block {
    flex-direction: column-reverse;
  }

  .center {
    padding-top: 48px;
    padding-bottom: 28px;
  }

  .text {
    margin: 0px 25px 40px 24px;
  }

  .introduction {
    padding: 20px 0px 10px 0px;
  }

  .block-content {
    margin: 0px;
  }

  .categories {
    display: flex;
    margin-bottom: 48px;
    flex-wrap: wrap;
    margin-top: 0px;
  }

  .categories > a {
    margin: 16px 16px 0px 0px;
  }

  .pill {
    text-align: left;
  }

  .nav {
    display: none !important;
  }

  .full-leaf {
    display: block;
    float: right;
    margin-top: 14px;
  }

  #menu1, #menu0 {
    display: none;
  }

  .tab-content {
    display: none;
  }

  .circle {
    display: block;
    margin: auto;
  }

  .staylab {
    margin: auto;
  }

  .textt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.08em;
  }

  .texttt {
    margin-top: 15px;
  }

  .sponsor {
    margin-top: 36px;
  }

  #menu1 .title {
    font-size: 20px;
  }

  .green-border {
    border-bottom-color: #3F9C67 !important;
    border: 2px solid transparent
  }

  .pill {
    border: 1px solid #E6E9E7;
  }

  .info {
    margin-top: 24px;
  }

  .fb {
    margin-top: 24px;
    margin-left: auto;
  }

  .social-network {
    display: block;
  }

  .collapse {
    display: none;
  }

  .leaf, .leaf1 {
    display: none;
  }

  .fb div, .messenger div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
  }

  .messenger {
    display: flex;
    text-align: center;
  }

  .fb {
    display: flex;
    text-align: center;
  }
}
